.table-center {
  margin: auto;
}

#referral {
  text-align: center;
  margin-left: 30px;
  margin-top: 10px;
  padding: 0px;
}

#materials-header {
  margin-top: 15px;
}

#materials-table {
  font-size: 1.3em;
  background-color: #FFF;
}
#materials-table th {
  background: #000;
  color: #FFF;
}
#materials-table td {
  padding: 0px 5px;
}
#materials-table tr {
  border: 1px solid black;
}

.thumbnail-header-text {
  font-size: 1.3em;
  margin-top: 3px;
  text-align: center;
  font-weight: normal;
  color: #000;
  text-decoration: underline;
}

#div-supplier-join {
  width: 20em;
  margin: 0 auto;
  text-align: center;
}

.h1-midpage {
  margin-bottom: 10px;
}
