<% if activity_items.present? %>
  <h2 class="center">Recent Reviews and Comments</h2>
  <div class="row ">          
    <% activity_items.each do |item| %>
      <div class="row">
        <div class="col-md-12">
          <hr class="header-no-margin">
            <p class="small-margin-left">
              <%= "#{item.updated_at.strftime('%m/%d')}: " %>
              <strong><%= "#{item.user.lead.lead_contact.name}" %></strong>
              <% if item.class.to_s == "Comment" %>
                <%= render partial: "providers/activity_individual_comment", locals: {comment: item} %>
              <% end %>         
            </p>
        </div>
      </div>
    <% end %>          
  </div>
<% end %>