<div class="attachment-uploader photo-upload-background well well-lg">Upload pictures here (or drag and drop)
  <span class="heading_navigation"></span>
  <%= hidden_field_tag :id_for_upload, id_for_upload %>
  <%= s3_uploader_form id: "s3-#{class_name}-photo-upload", class: "s3-#{class_name}-photo-upload",
    max_file_size: 10.megabytes,
    bucket: bucket,
    key_starts_with: key_starts_with,
    key: key do %>
      <%= file_field_tag :file, multiple: true %>
  <% end %>
  <script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
      <div class="filename">{%=o.name%}</div>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
  <% if tip %>
    <div class="margin-top">Tip: pictures are not saved with comment until "Submit" button is clicked</div>
  <% end %>
</div>