  <% if score > 0 %>
    <span class="star-rating comment-rating-stars">
      <% 5.times do |num| %>
       <input type="radio">
      <% end %>
      <%#= search "TERRIBLE NOT DRY WAY TO RENDER" in css to see rationale for below %>
      <% score.times do |num| %>
        <i id="showup-please"></i>
      <% end %>
    </span>
  <% end %>
