<div class="row">
  <% if score > 0 %>
    <span class="star-display">
      <% 5.times do |num| %>
       <input type="radio">
      <% end %>
      <% score.times do |num| %>
        <i></i>
      <% end %>
    </span>
  <% end %>
</div>