<% provide(:title,"Edit provider: '#{@provider.name}'") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">

      <%= link_to "Return to profile of #{@provider.name}", teams_profile_path(@provider.name_for_link) %>

      <h1>Edit provider: '<%= "#{@provider.name}'" %></h1>

      <%= render :partial => "providers/provider_information", locals: {form_action: "update"} %>

    </div>
  </div>
</div>