<% provide(:title,"Provider index") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <!-- this tool was super helpful making quick tables: http://www.textfixer.com/html/csv-convert-table.php -->

      <%= render :partial => "providers/providers_header" %>

      <% if @results_hash.present? %>
        <h2 class="center">Results of your search for <%= "#{@search_text}" %></h2>

        <% @results_hash.each do |header, providers| %>
          <div class="col-md-12">
            <h2>
              <span><%= header %></span>
            </h2>
            <%= render :partial => "providers/providers_table", locals: {providers: providers} %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>