<% provide(:title, "Create new provider") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">

      <%= link_to "Return to provider index", teams_index_path %>

      <h1>Create new provider</h1>
    </div>

    <%= render :partial => "providers/provider_information", locals: {form_action: "create", contact_fields: @contact_fields} %>
    
  </div>
</div>