<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">

      <h1>Create new provider</h1>

      <%= render :partial => "providers/provider_information", locals: {form_action: "create"} %>

    </div>
  </div>
</div>