<% provide(:title, "Create new provider") %>

<div class="container hax-body-styling">
  <div class="row">
    <%= render partial: "organizations/navigation_header", locals: {show_left_text: true, middle_text: @middle_text, organization: @organization} %>
    <div class="col-md-11 col-md-offset-1">
      <h1>Create new supplier</h1>
    </div>

    <%= render :partial => "providers/provider_information", locals: {form_action: "create", contact_fields: @contact_fields} %>
    
  </div>
</div>