<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <p>Congratulations, you've reached the end of the MVP! We're counting how many people visit this page, so you've just voted to put in an edit feature faster.</p>

      <p><%= mail_to "founders@supplybetter.com", "Please email us" %> with what you wanted to add or change, and we'll quickly make change you came here to make.</p>

      <p>Thanks a lot for helping us improve!</p>

      <p>Rob, James, and Matt</p>

    </div>
  </div>
</div>