<% provide(:title,"We're working on it!") %>

<div class="row">
  <div class="col-md-4">
    <p><%= link_to "Back to Suppliers List", teams_index_path %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
   
      <img class="banner-message" src="https://m1.behance.net/rendition/modules/132557671/disp/ca7fe185e852429d789df137836362e0.gif">
    </div>
    <div class="col-md-7">
       <h1>
      We're racing to finish this feature! 
      <p><%= mail_to "founders@supplybetter.com", "Please email us" %> with what you wanted to add or change, and we'll get right on it!</p>
      </h1>

    </div>
  </div>
</div>


    