<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>
      <img class="banner-message" src="https://m1.behance.net/rendition/modules/132557671/disp/ca7fe185e852429d789df137836362e0.gif">
      We're racing to finish this feature!
      </h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <p>By clicking that link, you just voted to put in this feature faster. Thanks!</p>

      <p><%= mail_to "founders@supplybetter.com", "Please email us" %> with what you wanted to add or change, and we'll quickly make change you came here to make.</p>

      <p>Thanks a lot for helping us improve!</p>

      <p>Rob, James, and Matt</p>

    </div>
  </div>
</div>

    