<div class="testimonials center <%== "alternate-colors" if alternate_colors %>">
  <p class="center"><%= "#{testimonial[:praise]}" %></p>
  <p class="right"><%= "-#{testimonial[:person]}, #{testimonial[:title]}, #{testimonial[:company]}" %></p>
</div>