<div class="testimonials center">
	<p class="center"><%= "#{testimonial[:praise]}" %></p>
	<p class="right"><%= "-#{testimonial[:person]}, #{testimonial[:title]}, #{testimonial[:company]}" %></p>
</div>