<% provide(:title,"Our Alpha Program") %>
<h3>Our mission</h3>

<p><strong>We want to help you do procurement faster and cheaper</strong>, so you can spend your time designing, coding, selling, and running your business.<p>

<h3>What we're offering</h3>

<p>If you need something, we'll get it for you - whether that's a part made from a CAD drawing, or a catalog order that might be cheaper elsewhere, let us know:</p>
<ul>
	<li>what it is (send a drawing or product name)</li>
	<li>how many you need</li>
	<li>by what date</li>
	<li>any other details (material, tolerances, etc.)</li>
</ul>

<p>We'll get a quality product for you, by your deadline, and bill you 1% of the cost.</p>

<p>We'll do this well by getting bids from a lot of suppliers. We'll show you all the quotes we got, and if you don't think we saved you money overall, just say so, and we bill nothing. No questions asked.</p>

<h3>Why we're doing this</h3>

<p>In the future, we're going to build great software to automate this process; right now, we want to do this manually to make sure we build the right stuff.</p>