<% provide(:title,"Becoming a SupplyBetter supplier") %>

<div class="container">
	<div class="span10 offset1">
		<h3 class="center">What's SupplyBetter?</h3>
		
		<h3 class="center">How does SupplyBetter make money?</h3>
		<p><strong>There are no fixed fees or plans - if you're not bidding on jobs, SupplyBetter is free</strong>. All charges are on a per-bid basis: if we send you an RFQ and you want to bid on it, we pass your bid onto the client, and you owe SupplyBetter 1% of your bid, win or lose. You'll have a good chance of winning since we don't ask many suppliers/quote to bid, and you'll get the contact information of the buyer even if you don't win the business.
		
		<h3 class="center">Why do suppliers pay per bid?</h3>
		<p>We like this system because it makes sure <strong>you only pay when you get valuable leads</strong> - if the lead isn't good enough to make a bid, you don't have to pay at all. Many of our competitors ask for a flat fee per month, and you have to pay that even if none of the leads were good.</p>
		<p>Charging based only on deals that complete would be ideal, but we haven't found a good way to enforce that without hiding the buyer's and supplier's identities from each other, and we want to be more transparent than that.</p>

		<h3 class="center">I don't want to fill out lots of RFQs that don't lead to business.</h3>
		<p>That's a common complaint we hear about competitors. We make sure that doesn't happen in two ways:</p>
		<ul>
			<li><strong>Limited suppliers per bid</strong> - since we ask for per-bid payment, we keep the number of suppliers per RFQ small. If you're not winning bids, you won't want to submit more quotes, so we do our best to keep you winning.</li>
			<li><strong>We get smarter about what RFQs we send you</strong> - our system adapts to what RFQs you don't choose to bid on, and avoids sending similar requests in the future. You'll get RFQs that line up with your preferred quantities, applications, price range, and timing.</li>
		</ul>

		<h3 class="center">How can I find out more or sign up?</h3>

	</div>
</div>