<% provide(:title,"SupplyBetter for enterprise") %>

<div class="container">
  <div class="row">

    <h1 class="center">Supplier relationships matter</h1>
    
    <p>Learn from past projects. Make better choices. Get to market faster.</p> 
    <%= text_area_tag :quote_here %>
    
    <%= label_tag "Work email address" %>
    <%= text_field_tag :email %>

    
    <span class="button">Try a month free</span> 

    <span class="tiny">Real SupplyBetter review, redacted and used with permission. Only people inside your company can see your reviews.</span>
  </div>
</div>