<% provide(:title,"SupplyBetter for enterprise") %>

<div class="container">
  <div class="row">

    <h1 class="center">Get your hardware products to market faster</h1>
    <hr>
    <h1 class="center">Make perfect sourcing decisions</h1>
    <hr>
    <h1 class="center">Know what you know</h1>
    <hr>
    <h1 class="center">Combine the power of your engineers' brains</h1>
    <hr>

    <p>Sourcing takes time. Keep full control over your sourcing while leaving the annoying parts (of getting parts) to us.</p>
    <hr>
    <p>Perfect your sourcing. Know what your engineers think of suppliers to make great choices in the future.</p>
    <hr>
    <p>Someone at your company knows the right supplier for every job. Find out who knows what you need to know, every time.</p>
    <hr>
    <p>Take advantage of the collective knowledge of your company's engineers to make perfect sourcing decisions.</p>
    <hr>
    <p>Who at your company knows the best supplier for _____________?</p>
    <p>Get it right every time with SupplyBetter.</p>
    <hr>
    
    <span class="form">I'm interested in reducing time to market</span>
    <%= label_tag "Email address" %>
    <%= text_field_tag :email %>
    <%= label_tag "Company name" %>
    <%= text_field_tag :email %>

    <span class="button">Try a month free</span> 

  </div>
</div>