<h3>Faster, cheaper parts by comparison shopping among 3D printers</h3>
<div>Fill out quote request</div>
<div>Reach out to suppliers</div>
<div>Get great prices, fast</div>
<%= link_to "It's free to use - start today!", signup_path %>
<%= mail_to "partreach@gmail.com", "Suppliers: join for free!", encode: "javascript", subject: "Tell me more about being a PartReach supplier!", body: "I'm interested in more information about what PartReach is like for suppliers."%>
