<% provide(:title,"Procurement as a Service") %>
<% meta_description "SupplyBetter can help you find suppliers for any mechanical part on a case-by-case basis." %>

<div class="container">
  <div class="span10 offset1">

		<h1>We don't only do 3D printing.</h1>

		<h3>Our mission</h3>

		<p><strong>We want to help you procure faster, cheaper, and easier</strong>, so you can spend your time designing, coding, selling, and running your business.<p>

		<h3>What we're offering</h3>

		<p>If you need something, we'll get it for you, whether it's a part made from a CAD drawing, or a catalog order that might be cheaper elsewhere. 

		<strong><p>Let us know:</p> 
		
		<ul>
			<li>what it is (send a drawing or product name)</li>
			<li>how many you need</li>
			<li>by what date, if you're on a deadline</li>
			<li>where it's going</li>
			<li>any other details (material, tolerances, etc.)</li>
		</ul></strong>

		<p>We'll get a range of quotes for you by your deadline. You then pick which one is best, place the order, and compensate SupplyBetter with 1% of the cost. If you don't think our quotes saved you money overall, just say so, and we'll bill nothing. <strong>If you're not happy, we don't make money</strong>.</p>

		<p>Any information you give us remains yours; aside from quoting out necessary information to suppliers, we don't share it with third parties.</p>

		<h3>Why we're doing this</h3>

		<p>A future version of SupplyBetter will help automate the process of finding great suppliers. Right now, we're testing it internally, so helping you out teaches us how to make our product better, and saves you money.</p>

		<h3>Interested?</h3>

		<p><%= mail_to "matt@supplybetter.com", "Let us know! Email us here, and we'll be in touch within a day.", encode: "javascript", target: "_blank", subject: "Tell me more about the #{brand_name} alpha!", body: "I'm interested in more information about how you can help cut supplier costs." %></p>

		<p class="back_to_home"><%= link_to "Back to home", root_path %></p>

	</div>
</div>