<p><%= "#{@salutation}" %></p>

<p>In 2014 SupplyBetter has two big goals: help people with their projects and spread the word. We've made <a href="http://www.supplybetter.com/testimonials">great strides with each</a>, and in the process we've learned which questions engineers have about 3D printing. To help answer those questions, in our latest blog post we compare the <a href="http://www.supplybetter.com/blog/differences-between-major-commercial-3d-printing-types">differences between major commercial 3D printing types</a> available to you right now. We've included videos we believe explain each process best and comparisons to similar 3D printing methods to highlight when to use one process over another.</p>

<p>When you're ready to get your parts made, submit an RFQ through our site and our mechanical engineer, Rob, will review your project immediately.</p>

<div style="text-shadow: none;">
  <tbody>
    <tr> 
      <td style="width:580px;text-align:center;vertical-align:middle;padding:20px">
        <%= link_to "Get your parts made", order_questions_url, target: "_blank", style: "width:430px;margin:0px 0px 30px;background-color:#00aed7;text-decoration:none;text-align:center;font-size:20px;font-weight:lighter;color:white;line-height:22px;padding:15px" %>
      </td>
    </tr>
  </tbody>
</div>

<p>Cheers,</p>
<p>SupplyBetter Team</p>