
<table border="0" cellpadding="0" cellspacing="0" width="445">
  <tbody>
    <tr>
      <td valign="top" style="background-color:#ffffff">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td valign="middle">
                <table border="0" cellpadding="0" cellspacing="0" width="445" height="0" style="none">
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="445" height="30">
                  <tbody>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>                              
                <div style="color:#505050;font-family:Helvetica,Arial;font-size:14px;line-height:150%;text-align:left">
                  <span style="color:#fb5022;font-family:helveticaneue-light,helvetica neue light,helvetica neue,helvetica,arial,sans-serif;font-size:25px;text-align:center;display:block">The 6 Ways to Not Burn a New Supplier</span><br>

                  We've all heard manufacturing horror stories, cautionary tales of hardware companies running into problems with the suppliers they've chosen to manufacture their custom parts. What many people don't realize is that manufacturing service bureaus also have their fair share of manufacturing nightmares. SupplyBetter matches your custom hardware project with the exact right manufacturing suppliers, and in our latest blog we share <a href="http://www.supplybetter.com/blog/the-6-ways-to-not-burn-a-supplier" style="color:#00aed7;font-family:helveticaneue-light,helvetica neue light,helvetica neue,helvetica,arial,sans-serif;font-weight:semi-bold;text-decoration:none" target="_blank">the best tips hardware companies can follow to not burn a new supplier</a>. Generated entirely of feedback gathered directly from the suppliers we've worked with, this list is a guide for developing a fantastic manufacturing relationship.<br>
                  <br>
                  <span style="color:#fb5022;display:block;font-family:helveticaneue-light,helvetica neue light,helvetica neue,helvetica,arial,sans-serif;font-size:22px;line-height:30px;text-align:center">Get advice from a Mechanical Engineer</span>

                  <div style="text-align:center;margin-top:10px;margin-bottom:15px;color:#505050;font-family:Helvetica,Arial;font-size:14px;line-height:150%"><strong>Send us your project and get professional advice immediately</strong></div>

                  <div style="text-shadow: none;">
                    <tbody>
                      <tr> 
                        <td style="width:580px;text-align:center;vertical-align:middle;padding:20px">
                          <%= link_to "Get your parts made here", order_questions_url, target: "_blank", style: "width:430px;margin:0px 0px 30px;background-color:#00aed7;text-decoration:none;text-align:center;font-size:20px;font-weight:lighter;color:white;line-height:22px;padding:15px" %>
                        </td>
                      </tr>
                    </tbody>
                  </div>
                  <div style="color:#505050;font-family:Helvetica,Arial;font-size:14px;line-height:150%;text-align:left;margin-top:15px">
                    Still wondering how to source your project? <a href="mailto:rob@supplybetter.com?body=Hi%20Rob,&amp;subject=I%20have%20questions%20about%203D%20printing" style="color:#00aed7;font-family:helveticaneue-light,helvetica neue light,helvetica neue,helvetica,arial,sans-serif;font-weight:semi-bold;text-decoration:none" target="_blank">Email us</a> and we'd be happy to answer your questions.
                  </div>
                    <br>
                  <br>
                  <em>Team SupplyBetter</em>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

