<% if @name %>
  Hi <%= "#{@name}" %>,
<% else %>
  Hi,
<% end %>
<br>

<p>The end of autumn is near and we want to let you know about the exciting projects we've been working on here at SupplyBetter.</p>

<div style="width:460px; text-align: left; font-size: 14px; color: #333333; line-height:22px;margin:0 0 30px" align="left">
  <strong>Better RFQ Flow</strong> - You asked and we listened. Our newest request for quote form allows you to prioritize speed, cost, and quality. <%= link_to "Submit a new request here.", order_questions_url, style: "color: #333;", target: "_blank" %>
</div>
<div style="width:460px; text-align: left; font-size: 14px; color: #333333; line-height:22px;margin:0 0 30px" align="left">
  <strong>Newest Blog Post</strong> - Learn about how the differences between hobby and commercial 3D printers can affect your project. <%= link_to "Read about it more here.", "https://www.supplybetter.com/blog/choosing-fff-vs-fdm.html", style: "color: #333;", target: "_blank" %>
</div>

<p>Know your options. Find the right supplier.</p>

<div style="text-shadow: none;">
  <tbody>
    <tr> 
      <td style="width:580px;text-align:center;vertical-align:middle;padding:20px">
        <%= link_to "Get your parts made here", order_questions_url, target: "_blank", style: "width:430px;margin:0px 0px 30px;background-color:#00aed7;text-decoration:none;text-align:center;font-size:20px;font-weight:lighter;color:white;line-height:22px;padding:15px" %>
      </td>
    </tr>
  </tbody>
</div>

<p>The feedback we've received so far has been stellar, and we're always listening for ways to improve. Simply hit "Reply" to this email and let us know what we can do to help make your parts!</p>

<br>
  Happy Thanksgiving,<br>
  Matt Du Pont, CEO<br>
  SupplyBetter, Inc.
</p>

