<p>
  Hi <%= "#{@contact.first_name}" %>, my friend Rob has been writing about topics like <a href="https://www.supplybetter.com/blog/injection_molding_through_alibaba_case_study.html?utm_source=c&utm_medium=email&utm_campaign=c_reachout_1412_MiddleGround">injection molding a popular car decal</a> and <a href="https://www.supplybetter.com/blog/choosing-fff-vs-fdm.html?utm_source=c&utm_medium=email&utm_campaign=c_reachout_1412_MiddleGround">choosing between commercial and hobby 3d printers for prototyping</a>. Could you let me know if this is the kind of thing you'd like to read, because we want to write about things engineers think are interesting? Thanks!
</p>
<p>-Matt</p>