<p>
I am trying to figure out what engineers like to read about in 3D printing, so that we can write about useful stuff. We've written about <a href="https://www.supplybetter.com/blog/sls-services-overview.html?utm_source=c&utm_medium=email&utm_campaign=c_reachout_1412_3dPrinting">the positives and negatives of Selective Laser Sintering</a> and <a href="https://www.supplybetter.com/blog/choosing-fff-vs-fdm.html?utm_source=c&utm_medium=email&utm_campaign=c_reachout_1412_3dPrinting">how to choose between commercial and hobby 3d printers for prototyping</a> - is this interesting? What would you like to see more of?
</p>

<p>Thanks <%= "#{@contact.first_name}" %>!</p>

<p>Matt</p>