<p>
  hi <%= "#{@contact.first_name.downcase}" %>, i'm trying to figure out if what we're writing about on our blog, like <a href="https://www.supplybetter.com/blog/injection_molding_through_alibaba_case_study.html?utm_source=c&utm_medium=email&utm_campaign=c_reachout_1412_Casual">how we got from laser cutting to injection molding on a popular car decal</a>, is interesting to engineers. could you take a look and let me know if you'd like to read more stuff like this? thanks!
</p>
<p>-Matt</p>