<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html> 

  <head>     
  <meta property="og:title" content="Profile Activity"/>
  <meta property="fb:page_id" content="43929265776" />        
  <title>Profile Activity</title> 
  </head>
  
  <body>
    <div style="min-width:550px;background-color:#3c3e44;color: #333333; text-shadow: 1px 1px 0 #fff; font-family: 'OpenSans', 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif; font-weight: 400; font-stretch: normal;text-align:center;">
      <img src="https://www.supplybetter.com/assets/logo-7888d1412d5c568526ac6288f97c757a.png" alt="SupplyBetter Logo" style="margin:35px 0 49px;text-align:center">
      <div style="width: 540px; background-color: #f3f3f3; text-align: left; margin: 0 auto 40px; padding: 5px 5px 0; border-radius:3px;" bgcolor="#f3f3f3" align="left">
        <div style="padding:0 40px 15px; border-bottom:1px dashed #c0c0c8;">
          <div style="font-size:40px;font-weight: normal; margin-bottom:30px;">
          </div>
          <div style="width:460px;margin-bottom:23px" mc:hideable="hideable_1" mchideable="hideable_1">
           		Hey Robert,
          </div>
          <div style="width:460px; text-align: left; font-size: 14px; color: #333333; line-height:22px;margin:0 0 30px" align="left" mc:hideable="hideable_2" mchideable="hideable_2">
            <p class="p1">We have customers asking about Finnovation on SupplyBetter!</p>
          </div>
          <div style="width:460px; text-align: left; font-size: 18px; color: #333333; line-height:22px;margin:0 0 23px" align="left" mc:repeatable="repeat_1" mc:variant="header" mc:repeatindex="0">ACTIVITY ON YOUR PROFILE</div>
          <div style="width:460px; text-align: left; font-size: 14px; color: #333333; line-height:22px;margin:0 0 30px" align="left" mc:repeatable="repeat_1" mc:variant="body copy" mc:repeatindex="1">
            <p></p>
            <p class="p1">
              On&nbsp;<a style="color: #333;" href="http://supplybetter.com" target="_blank">your SupplyBetter profile</a>&nbsp;there have been:
              <ul>
                <li><strong>5 requests</strong> for a company description</li>
                <li><strong>7 requests</strong> for what machines you use</li>
                <li><strong>3 requests</strong> for reviews from your past clients</li>
              </ul>
              
              People who visit SupplyBetter looking for 3D Printing are interested in learning more about who you are and what you make. You can update your&nbsp;<a style="color: #333;" href="http://supplybetter.com" target="_blank">company profile</a>&nbsp;by making an account and&nbsp;<a style="color: #333;" href="http://supplybetter.com" target="_blank">claiming your profile.</a>&nbsp; Once your information is updated we'll be able to start connecting you to your potential customers.
              <br>
              <br>
              The best part? It's free to claim your profile. Free as in speech. 
            </p>
            <div style="text-shadow: none;">
              <tbody>
                <tr> 
                  <td style="width:580px;text-align:center;vertical-align:middle;padding:20px">
                    <a href="https://www.supplybetter.com" style="background-color:#00AED7;border:1px solid #0091B3!important;border-collapse:collapse;border-radius:3px;display:block;color:#fff;font-family:OpenSans, helvetica,arial,Verdana,sans-serif;font-size:14px;line-height:1;margin:0px auto;outline:none;padding:10px 20px;text-align:center;text-decoration:none;width:150px;border-width:0;min-height:14px" target="_blank">Claim Profile</a>
                  </td>
                </tr>
              </tbody>
            </div>

            <p>
              Learn about the benefits of&nbsp;<a style="color: #333;" href="http://supplybetter.com" target="_blank">joining our supplier network.</a>&nbsp;<br>
              <br>
              As always, feel free to provide feedback or let us know if you have any questions by emailing support@supplybetter.com <br>
              <br>
              Your friend in 3D Printing,<br>
              Matt Du Pont, CEO<br>
              SupplyBetter, Inc.
            </p>
          </div>
        </div>
        <div style="border-top:1px dashed #fff; padding:30px 10px; text-align:center;font-size:10px;font-weight:bold;">
          <p>You are receiving this email because your email address was linked to Finnovation on SupplyBetter.com. If you have received this email in error,&nbsp;<a style="color: #333; text-decoration: none;"href="http://supplybetter.com" target="_blank">please let us know.</a>&nbsp;
          </p>
          <a href="http://uber.us1.list-manage.com/unsubscribe?u=8d2fd6968b2b5c64d0d22dba2&id=1052ddac3b&e=f080587c5d&c=e1411258d2" style="color: #333; text-decoration: none;padding:0 9px 0 0;font-size:10px;">Unsubscribe</a>|
          <a href="http://uber.us1.list-manage.com/profile?u=8d2fd6968b2b5c64d0d22dba2&id=1052ddac3b&e=f080587c5d" style="color: #333; text-decoration: none;padding:0 9px 0 9px;font-size:10px">Email Preferences</a>|
          <a href="http://us1.campaign-archive1.com/?u=8d2fd6968b2b5c64d0d22dba2&id=e1411258d2&e=f080587c5d" style="color: #333; text-decoration: none;padding:0 9px 0 9px;font-size:10px">View this email online</a> 
        </div>
      </div>
      <div style="font-size:10px; font-weight:normal;color:#888;text-shadow:none;margin-bottom:45px;">
        &nbsp;<a style="text-decoration: none;color:#888" href="http://supplybetter.com" target="_blank">SupplyBetter, Inc.</a>&nbsp;&bull; 1688 Sacramento Street, #302, San Francisco, CA 94109
      </div>
      <br>
    </div>
    
  </body>
</html>
    <!-- background-color: #0071b8
    border-color: #005a93 
    background:url(http://uber-static.s3.amazonaws.com/emails/background_grid.png)"-->
  </body>    
</html>
