<% provide(:title,"Recent purchase orders") %>

<div class="container hax-body-styling">
  <div class="row">
    <%= link_to "Looking for the email sending page?", purchase_orders_emails_path %>

  </div>
</div>