<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your quotes have arrived!</h1>
    <p>
      Hi, <%= @user.lead.lead_contact.name %>. You've now received <%= pluralize(bids_received(@order), "bid") %> for <%= @order.name %>; you should <%=link_to @url, "come pick a supplier for your work!" %><br/>
    </p>
  </body>
</html>


