<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to <%= "#{@brand_name}, #{@user.name}" %>!</h1>
    <p>
      You have successfully signed up to <%= "#{@brand_name}" %>
      using the email address: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>We're making improvements and adding features every week, so stop back soon! For any questions, feel free to email us at support@supplybetter.com</p>
  </body>
</html>