<tr>
	<td></td>
	<td><%= "#{supplier.id}" %></td>
	<td><%= link_to "#{supplier.name}", supplier_profile_path(supplier.name_for_link) %></td>
	<td><%= "#{supplier.next_contact_date}" %></td>
	<td><%= "#{supplier.next_contact_content}" %></td>
</tr>