<% provide(:title, "Suppliers") %>

<table class="supplier-list">
	<tr>
		<th>Status</th>
		<th>ID</th>
		<th>Name</th>
	</tr>
	<% @listings.each do |k,v| %>
		<tr>
			<td><%= "#{k}" %></td>
		</tr>
		<% v.each do |supplier| %>
			<%= render :partial => "analytics/supplier_listing", locals: {supplier: supplier} %>
		<% end %>
	<% end %>
</table>

<%= render 'analytics/links' %>