.header {
  background: $sb-blue;
}

.header__inner {
  @include clearfix();
  @include outer-container();
  max-width: 90em;
  padding: 0 20px;
}

.header__logo {
  float: left;
  margin: 9px 0 0;
  width: 173px;

  img {
    vertical-align: inherit;
  }
}

.header__links {
  float: right;
  list-style: none;

  > li {
    float: left;
    margin-left: 20px;
  }

  a {
    color: white;
    font-size: 14px;
  }

  a:hover, a:focus {
    color: white;
  }

  .dropdown-menu a:hover {
    color: $sb-blue;
  }

  
}

.dropdown {
  position: relative;
  min-width: 160px; /*to prevent dropdown menu for user running off the right side of the page*/

  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown .username {
  float:right;
  line-height: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
}

.dropdown-menu li a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

