/* Image Replacement -  */

.hide-text, .logo {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

/* mixins, variables, etc. */

$recommendedColor: #b6d7a8;
$wideAngleBackground: #dadde2;
$mainAreaBackground: #f6f6f6;
$subHeaderMuted: #999999;
$h2Dark: #333333;
$textMidGrey: #c3c8d9;
$textDarkGrey: #1f252d;
$headerFooterDark: #3c3e44;
$supplyBetterBlue: #00aede;
$supplyBetterBlueClicked: #01c8ff;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0;
  background: $wideAngleBackground;  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
} 

.left {
  text-align: left;
  vertical-align: middle;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.right {
  text-align: right;
  vertical-align: middle;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}

.full-height {
  min-height: 100%;
  margin: 0;
  height: 100%;
}

/* used in profile details in DB */
.detail-text {
  font-size: 12px;
  font-style: italic;
}

.one-fourth {
  width: 25%;
}

.almost-one-half {
  width: 45%;
}

.padding-left {
  padding-left: 5px;
}

.margin-left {
  margin-left: 5px;
}

.main-area-contrast {
  background: $mainAreaBackground;
}

.word-break {
  word-break: break-all;
}

.supplybetter-blue {
  background: $supplyBetterBlue;
  color: white;
  &:hover {
    background: $supplyBetterBlueClicked;
    color: white;
  }
  &:active {
    background: $supplyBetterBlueClicked;
    color: white;
  }
}

.sub-header-muted {
  color: $subHeaderMuted;
}

.btn-xl {
  padding: 9px 36px;
  font-size: 2em;
  font-weight: bold;
}

/* margins */

.bit-of-space {
  margin: 10px 0px 10px 0px;
}

.space-above {
  margin-top: 10px;
}

.space-below {
  margin-bottom: 10px;
}

.back_to_home {
  margin-top: 25px;
  margin-bottom: 10px;
}

.back_to_suppliers {
  margin-bottom: 50px;
}

/* typography */

strong {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 42px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2, .h2link {
  font-size: 34px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $subHeaderMuted;
  &.dark {
    color: $h2Dark;
  }
}

h3, .h3link {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
}

p, ul, li, a, label, .order_basics {
  font-size: 16px;
  line-height: 20px;
}

label {
  margin-top: 5px;
}

.testimonials {
  background: $wideAngleBackground;
  width: 75%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 auto;
  padding: 2px;
  &.alternate-colors {
    background: #3c3e44;
    color: $textMidGrey;
  }
}

.logo {
  background: image-url('/logo.png') no-repeat;
  height: 66px;
  width: 240px;
}

.navbar, .footer {
  padding: 5px 0;
  background: $headerFooterDark;
  margin-bottom: 0px;
}

.nav {
  color: $textMidGrey;
  -webkit-border-radius: 0; 
     -moz-border-radius: 0; 
          border-radius: 0;
  li {
    padding: 5px 0px;
    a {
      color: $textMidGrey;
      &:hover {
        background: transparent;        
        color: #fff;
      }
    }
    .dropdown-toggle {
      color: $textMidGrey;
      &:hover {
        background: transparent;
        color: #fff;
      }
    }
    .dropdown-menu {
      a {
        color: $textDarkGrey;
      }
      li {
        border: 0px;
        float: clear;
        width: 100%;
        &:hover {
          background: $wideAngleBackground;
        }
      }
    }
  }
}

.sign-in {
  min-height: 93%;
  .hero {
    padding: 30px 0;
    h1 {
      color: $textDarkGrey;
    }
  }
}
.alert {
  margin-bottom: 0;
}

.hero {
  padding: 0 0 70px;
  hgroup {
    padding: 91px 0 0;
  }
  h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 16px;
  }
  h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    em {
      color: $textMidGrey;
      font-style: normal;
    }
  }
}

.homepage-background {
  background: $headerFooterDark;
}

.logo-background {
  background: white;
}

.btn-hero {
  background: #00aede image-url('btn-arrow.png') no-repeat 234px 50%;
  border: 0;
  color: #fff;
  display: block;
  font-size: 26px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  text-indent: -20px;
  text-shadow: none;
  vertical-align: middle;
  width: 280px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-clip: padding-box;
  &:hover {
    background: #01c8ff image-url('btn-arrow.png') no-repeat 234px 50%;
    color: #fff;
  }
  &:active {
    background: #0093bc image-url('btn-arrow.png') no-repeat 234px 50%;
    color: #fff;
  }
}

.sec-hero {
  color: $textMidGrey;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.logo-image {
  width: 100%; 
  border: none;
  vertical-align: center;
}

#features-override {
  padding: 10px 0;
  ol {
    li {
      border: none;
    }
  }
}

.features {
  padding: 10px 0 130px;
  text-align: center;
  ol {
    width: 100%;
    li {
      border-left: 1px solid #cbced3;
      float: left;
      list-style: none;
      margin-left: 20px;
      padding: 0 20px;
      width: 30%;
      &:first-child {
        border-left: 0;
        margin-left: 0;
      }
    }
    img {
      margin-top: 20px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
      margin-top: 20px;
    }
  }
  h3 {
    color: $textDarkGrey;
  }
  h3, .h3link {
    font-size: 18px;
    font-weight: 400;
  }
}

.basic-table {
  width: 100%;
  border: 1px solid #ccc;
  th {
    text-decoration: underline;
  }
  th, td {
    padding: 0px 5px;
  }
  margin: 5px 0px;
}

.supplier-list {
  margin-bottom: 10px;
  table {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  td {
    width: 30%;
  }
  #supplier-list-intro {
    padding: 5px 0px 0px 0px;
    width: 65%;
    float: left;
  }
  #supplier-list-key {
    padding: 5px 0px 0px 0px;
    width: 30%;
    float: left;
    td.skinny {
      width: 25%;
    }
    td.fat {
      width: 75%;
    }
  }
  .supplier-list-country {
    border: 1px solid #000;
    padding-left: 5px;
    background: #3c3e44;
    color: #fff;
  }
  .supplier-list-state {
    padding-left: 25px;
  }
  .supplier-list-bullets {
    padding-left: 50px;
  }
  .supplier-list-back-to-top {
    margin-top: 10px;
  }
  a.out-of-business {
    font-style: italic;
    color: $textMidGrey;
  }
  a.claimed {
    font-weight: bold;
  }
}

.order {
  overflow-x: scroll;
  h1 {
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    margin: 48px 0 0;
  }
  form {
    p {
      font-weight: 400;
      color: #1b1b1b;
    }
  }
  .order_table {
    border: 1px solid #ddd;
    border-collapse: separate;
    margin: 0 0 10px;
    padding: 0;
    th, td {
      padding: 10px 12px;
      text-align: left;
      text-decoration: none;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ddd;
      .notes-row-th {
        min-width: 150px;
      }
      &:last-child {
        border-right: none;
      }
    }
    th {
      color: #222;
      font-weight: 400;
    }
    td {
      color: #444;
      font-family: arial, sans-serif;
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    tr:last-child th,
    tr:last-child td {
      border-bottom: none;
    }
    tr:nth-child(even) {
      background: #eee;
      &.recommended {
        background-color: $recommendedColor;
      }
    }
   .recommended {
      background-color: $recommendedColor;
    }
    .big-field {
      width: 25%;
    }
    .little-field {
      width: 5%;
    }
  }
}

.tag {
  color: white;
  background-color: #333;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 2px 5px;
  line-height: 40px;
  &.inverse-colors {
    color: #333;
    background-color: white;
  }
}

$supplierProfileBorderColor: $headerFooterDark;
.supplier-profile {

  #button-place-order {
    margin-bottom: 5px;
  }
  .supplier-variable {
    margin-bottom: 10px;
  }
  .supplier-image-box {
    border: 5px #ccc solid;
    width: 200px;
    margin-bottom: 5px;
  }
  .panel {
    padding: 5px;
    border-top: 0px;
    border-right: 1px $supplierProfileBorderColor solid;
    border-left: 1px $supplierProfileBorderColor solid;
    border-bottom: 1px $supplierProfileBorderColor solid;

    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .nav-tabs {
    border-color: $supplierProfileBorderColor;
    li {
      padding: 0px;
      border-color: $supplierProfileBorderColor;
      &.active {
        font-weight: bold;
      }
    }
    a.description-toggle, a.machines-toggle, a.reviews-toggle {
      color: $textDarkGrey !important;
      border-color: $supplierProfileBorderColor !important;
    }
  }
}

.supplier-index-indicator {
  width: 15px;
}

.cta {
  padding: 70px 0;
  .time {
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0 72px;
  }
  .time-heading {
    @extend .hide-text;
    background: image-url('time-heading.png') no-repeat;
    height: 205px;
    margin: 0 0 0 80px;
    width: 308px;
  }
  p {
    font-size: 19px;
    line-height: 27px;
    padding: 13px 60px 0 0;
  }
  a {
    border-bottom: 1px solid #00b7e2;
    color: #00b7e2;
    display: inline-block;
    font-size: 19px;
    line-height: 27px;
    text-decoration: none;
  }
  .updates {
    .sign-up {
      color: #6c6f78;
      font-size: 26px;
      font-weight: 300;
      padding: 10px 0;
      text-align: center;
      em {
        color: #151517;
        font-style: normal;
      }
    }
  }
  #email-submit-button, #email-submit-field {
    border: 0;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 68px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #email-submit-field {
    color: #151517;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    padding-left: 24px;
    margin-bottom: 5px;
    max-width: 40%;
    float: left;
    border: 1px solid #ccc;
  }
  #email-submit-button {
    background: #fb5022;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    max-width: 40%;
    float: left;
    margin-left: 10px;
  }
}

.review-table {
  .numeric-input {
    width: 5%;
  }
  .overall-category {
    width: 10%;
  }
  .explanation {
    width: 55%;
  }
}

/* orders/new */

.order_top_header {
  color: $textDarkGrey;
  font-size: 46px;
  font-weight: 300;
  margin: 0 0 16px;
  padding: 22px 0;
}

/* forms */
.forms {
  .updates {
    border-top: 1px solid #cbced3;
  }
}

form {
  margin: 0;
}

.form {
  background: #f6f6f6;
  padding: 30px;
  .row {
    margin-left: 0;
  }
  input, textarea {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}
#direct-upload {
  border: 1px solid #bbb;
  padding: 10px;
  margin-bottom: 5px;
  .file-upload {
    border: 0;
    padding: 10px 0;
    height: 58px;
    line-height: 16px;
  }
  .progress {
    background: #fff;
    border: 1px solid #ccc;
  }
}
#new-order, .form-email {
  input[type="text"], input[type="password"] {
    height: 44px;
  }
  .half {
    width: 45%;
  }
  h3 {
    font-size: 20px;
    margin-top: 15px;
  }
  p {
    font-size: 14px;
  }
  .two-signins {
    .pull-left {
      padding-right: 5%;
      width: 50%;
    }
  }
}
#create_button, .form-email form .sign-in-button, .save-button {
  background: #00aede image-url('btn-arrow.png') no-repeat 194px 50%;
  border: 0;
  color: #fff;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  margin: 10px 0 10px;
  padding: 0;
  text-align: center;
  text-indent: -20px;
  text-shadow: none;
  vertical-align: middle;
  width: 240px !important;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-clip: padding-box;
  &:hover {
    background: #01c8ff image-url('btn-arrow.png') no-repeat 194px 50%;
    color: #fff;
  }
  &:active {
    background: #0093bc image-url('btn-arrow.png') no-repeat 194px 50%;
    color: #fff;
  }
}
.form-email form .sign-in-button, .order_table .save-button {
  margin-top: 10px;
}
.sign-up {
  margin: 15px 0 0 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  @include box_sizing;
}

input.radio {
  width:auto;
  margin-right: 5px;
}
  
input.checkbox {
  width: auto;
}

.error_explanation {
  color: #f00;
  border: 1px solid #f00;
  margin-bottom: 5px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

#rfq-table {
  th {
    padding-left: 10px;
  }
  td {
    text-align: center;
  }
}

.examinations-holder {
  td {
    border: 2px solid #000;
  }
  .examination {
    width: 100%;
    .under-examination {
      width: 15%;
    }
    .choice {
      width: 35%;
    }
    .supporting-info {
      width: 50%;
    }
  }
}

/* question table */
.equal-column-spacing {
  table-layout: fixed;
  width: 100%;
  border: 5px solid $headerFooterDark;
  border-collapse: collapse;  
}

.page-number {
  font-size: 12px;
  padding: 5px 7px 0px 0px;
  font-style: italic;
}

.equal-column-cell {
  vertical-align: top;
  border-left: 10px solid $headerFooterDark;
  border-right: 10px solid $headerFooterDark;
  padding-left: 2px;  
}

.main-header {
  text-align: center;
  font-weight: bold;
}
.sub-header {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
}
.option-detail {
  font-size: 14px;
}

.summary {
  background: $headerFooterDark;
  color: $textMidGrey;
  border-collapse: collapse;
  padding: 0px 5px;  

  .summary-header {
    font-weight: bold;
  }
  .fill-in {
    font-weight: bold;
    color: $supplyBetterBlue;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.biography {
  max-width: 300px;
  margin-bottom: 10px;
}

.review_on_profile {
  border: 2px solid $textDarkGrey;
  padding: 20px;
}

#supplier_matrix {
  td {
    border: 2px solid #000;
  }
  label {
    padding: 5px;
  }
}

.tag_matrix {
  td p {
    padding: 0px;
    margin: 0px;

  }
}
