// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-center {
	margin: auto;
}

#referral {
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
	padding: 0px;
}

#materials-header {
	margin-top: 15px;
}

#materials-table {
	font-size: 1.3em;
	background-color: #FFF;
	th {
		background: #000;
		color: #FFF;
	}
	td {
		padding: 0px 5px;
	}
	tr {
		border: 1px solid #000;
	}
}

.thumbnail-header-text {
	font-size: 1.3em;
  margin-top: 3px;
  text-align: center;
  font-weight: normal;
  color: #000;
  text-decoration	: underline;
}

#div-supplier-join {
	width: 20em;
	margin: 0 auto;
	text-align: center;
}

.h1-midpage {
	margin-bottom: 10px;
}