<% provide(:title,"New web search item") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <h1>Add new supplier web search item</h1>

      <%= render 'web_search_items/web_search_item_form' %>

      <%= link_to 'Back', web_search_items_path %>

    </div>
  </div>
</div>