<span class="summary <%= position_class %>">
	<h4 class="summary-header">What you've said so far:</h4>
	<p>I <span class="fill-in summary_experience"><%= experience %></span>, care most about <span class="fill-in summary_priority"><%= priority %></span>, and think 3D printing <span class="fill-in summary_manufacturing"><%= manufacturing %></span> the method.</p>
</span>