<span class="fleft summary">
	<h4 class="summary-header">What you've said so far:</h4>
	<p>I <span class="fill-in summary_experience"><%= experience %></span>, most care about <span class="fill-in summary_priority"><%= priority %></span>, and 3D printing <span class="fill-in summary_manufacturing"><%= manufacturing %></span> the method.</p>
</span>