<% provide(:title, "##{@order.id} - Manipulate") %>

<div class="container" ng-controller="AdminDashboardCtrl">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <h1>Changes to RFQ {{order.id}}</h1>  

      <p><strong>User: </strong><a href="/leads/{{order.user.lead.id}}/edit">{{order.user.lead.lead_contact.full_name_untrusted}}</a></p>
      <%= render "layouts/angular_order_basics" %>

      <p><strong>User email: </strong>{{order.user.lead.lead_contact.email}}</p>
      <p ng-if="order.override_average_value">
        <strong>Override value for what quote was worth, for tracking (console change): </strong>{{ order.override_average_value }}
      </p>

      <p>
        <strong>Stated experience:</strong>{{ order.stated_experience }}
        <strong>Stated priority:</strong>{{ order.stated_priority }}
        <strong>Stated method:</strong>{{ order.stated_manufacturing }}
      </p>

      <p><a href="/orders/initial_email_edit/{{order.id}}">Edit RFQ package</a></p>
      <p><a href="/order_groups/new?order_id={{order.id}}">Add an order group</a></p>
      <p><a href="/parts/{{order.id}}">Manipulate parts</a></p>
      <p><a href="/suppliers/new">Add new supplier</a></p>
      <p><a href="/dialogues/new/{{order.id}}">Add a dialogue</a> | Note: if you want erase an existing numeric field, set it to 0, do not simply delete it.</p>


      <form class="manipulate_dialogues_form" novalidate>
        <div class="form-group">
          <label for="rec-field">Recommendation</label>
          <textarea id="rec-field" ng-model="order.recommendation"></textarea>
        </div>
        <div class="form-group">
          <label for="ns-field">Next Steps</label>
          <textarea id="ns-field" ng-model="order.next_steps"></textarea>
        </div>
        <div class="form-group">
          <label for="na-field">Next Action Date</label>
          <textarea id="na-field" ng-model="order.next_action_date"></textarea>
        </div>
        <div class="form-group">
          <label for="on-field">Internal notes on order</label>
          <textarea id="on-field" ng-model="order.notes"></textarea>
        </div>
        <div class="form-group">
          <label for="sl-field">Shareable link (for viewing only)</label>
          <input type="text" id="sl-field" readonly ng-model="order.view_link">
        </div>

        <div ng-repeat="order_group in order.order_groups">
          <h3 class="bit-of-space">
            Group {{order_group.id}}: "{{order_group.name}}"
            Process: "{{order_group.process}}"
            Material: "{{order_group.material}}"
            <a href="/order_groups/{{order_group.id}}/edit">Edit order group</a>
          </h3>
          <p><strong>Parts:</strong></p>
          <ul>
            <li ng-repeat="part in order_group.parts">
              <span ng-if="part.external">
                Quantity {{part.quantity}} of "{{part.name}}" (Units: {{part.external.units}}
              </span>
              <span ng-if="!part.external">
                WARNING - PART HAS NO EXTERNAL LINK. TROUBLESHOOT.
              </span>
              <span>
                ) [Part ID: {{part.id}}, BOM ID: {{part.bom_identifier}}]
              </span>
            </li>
          </ul>

          <table class="manipulate_dialogues_table">
            <tr>
              <th></th>
              <th ng-repeat="checkbox in checkboxes"><div class="md_checkbox_th"><span class="checkbox"></span></div></th>
              <th ng-repeat="header in headers" class="rotate"><div><span>{{header.displayText}}</span></div></th>
            </tr>
            <tr ng-repeat="d in order_group.alphabetical_dialogues">
              <td><strong><a href="/suppliers/admin_edit/{{d.supplier.name_for_link}}" target="_blank">{{d.supplier.name}}</a></strong></td>
              <td ng-repeat="checkbox in checkboxes" class="center md_checkbox_td"><input type="checkbox" ng-model="d[checkbox.attribute]" tooltip-append-to-body="true" tooltip="{{checkbox.displayText}}"></td>
              <td ng-repeat="header in headers"><input type="text" ng-model="d[header.attribute]"></td>
              <td><a class="ng-link" ng-click="removeDialogue(d.id, this.$index, this.$parent.$index)">Remove Dialogue</a></td>
            </tr>
          </table>

          <table>
            <tr ng-repeat="d in order_group.alphabetical_dialogues" class="horizontal-lines">
              <td><strong><a href="{{d.supplier.url_main}}">{{d.supplier.name}}</a></strong></td>
              <td><a href="/dialogues/initial_email/{{d.id}}">RFQ Open Email</a></td>
              <td><a href="/dialogues/edit_rfq_close_email/{{d.id}}">RFQ Close Email</a></td>
              <td>
                <div ng-if="d.internal_notes !== null"><strong>Note for this order: {{d.internal_notes}}</strong></div>
                {{d.supplier.isInNetwork ? 'Pays per bid' : 'Not in network' }}
                <div ng-if="d.supplier.rfq_contact.email">{{d.supplier.rfq_contact.email}}</div>
                <div ng-if="d.supplier.rfq_contact.phone">{{d.supplier.rfq_contact.phone}}</div>
                <div ng-if="d.supplier.internally_hidden_preferences">{{d.supplier.internally_hidden_preferences}}</div>
              </td>
            </tr>
          </table>
        </div> <!-- End ng-repeat of order_groups -->

        <h4>Order status</h4>
        <select ng-model="order.status" ng-options="status for status in orderStatusOptions"></select>
        <p>Columns to show</p>
        <select ng-model="order.columns_shown" ng-options="column for column in columnsShownOptions"></select>
        <button class="save-button" ng-click="manipulateDialog()">Save changes</button>
      </form>
      <div class="transfer_order">
        <label>New Email</label>
        <input type="text" class="new_owner_email" ng-model="newEmail" />
        <label>User's Name</label>
        <input type="text" class="new_owner_name" placeholder="Only needed if no user in system" ng-model="newName" />
        <button type="button" class="btn-primary" ng-click="transferOrder(newEmail, newName)">Transfer Order</button>
      </div>

    </div>
  </div>
</div>      