<% provide(:title, "New request for quotes") %>
<% meta_description "Let us know what you're making and how to contact you so we can find the best suppliers." %>

      <%= render partial: "orders/questions" %>

      <%= render partial: 'orders/new_order_form' %>

    </div>
  </div>
</div> 
