<% provide(:title, "New request for quotes") %>
<% meta_description "Let us know what you're making and how to contact you so we can find the best suppliers." %>

<div class="content forms">
  <h1 class="order_top_header">New request for quotes</h1>
  <%= render 'form' %>
</div>

