<% provide(:title, "New request for quotes") %>
<% meta_description "Submit a new request for quotes - give us some details about your project, and we'll find the right suppliers." %>

<div class="content forms">
  <h1 class="order_top_header">New request for quotes</h1>
  <%= render 'form' %>
</div>

