<% provide(:title,"ULTEM 9085 material details") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <h1>Ultem 9085 - material detail page</h1>

       <strong>This is a test page for data we intend to collect on machines. The content is not true or complete - check out the <%= link_to "home page", root_path %> to see real information on how SupplyBetter can help you.</strong><br>

      <p><strong>General background:</strong> Strong mechanical, thermal, and chemical properties make ULTEM 9085 suitable for high performance applications where FDM is a desirable process.</p>
      <p><strong>Machines using material:</strong> Fortus 400mc, Fortus 900mc</p>
      <p><strong>Processes used for:</strong> FDM</p>
      <p><strong>Manufacturing company:</strong> Stratasys</p>
      <p><strong>Tensile strength:</strong> 10,400 psi</p>
      <p><strong>Compression strength:</strong> 15.2 ksi</p>
      <p><strong>Glass transition temperature:</strong> 367F</p>
      <p><strong>Available colors:</strong> Tan, Black</p>

    </div>
  </div>
</div>