<% provide(:title,"Display related tags") %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">
      <h3><%= @tag.readable %></h3>
      <ul>
        <% @tag.immediate_neighbors.each do |phrase| %>
          <li><%= phrase %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>