<% if communications and communications != [] %>
	<ul>
	<% communications.each do |c| %>
		<li>
		<%= "#{c.created_at.strftime('%Y-%m-%d')}: #{c.means_of_interaction}/#{c.interaction_title} - #{c.notes}" %>
		</li>
	<% end %>
	</ul>
<% end %>