/*
 *= require_self
 *= require selectize
 *= require selectize.default
 */

@import "bootstrap/bootstrap.css";
@import "bootstrap/bootstrap.min.css";

@import "custom/static_pages.css.scss";
@import "custom/orders.css.scss";
@import "custom/custom.css.scss";

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th > div.md_checkbox_th {
  width: 10px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
th.rotate > div > span.checkbox {
  font-size: 8px
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.ng-link{
    cursor: pointer;
}
