@import "bootstrap";
@import "bootstrap-responsive";

/* Image Replacement -  */

.hide-text, .logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.right {
  text-align: right;
  vertical-align: middle;
}

.half {
  width: 40%;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1 {
  font-size: 42px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 34px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: #999;
}

h3, .h3link {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
}

p, ul, li, a, label {
  font-size: 16px;
  line-height: 20px;
}

strong {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

/* header */
.header {
  padding: 22px 0 0;
}

.logo {
  background: image-url('logo.png') no-repeat;
  height: 66px;
  float: left;
  width: 240px;
}

.nav {
  padding: 16px 0 0;
  li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #c3c8d9;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border: 0;
    }
    a {
      color: #c3c8d9;
      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
}
.content {
  background: #dadde2;
  &.header, &.hero {
    background: #3c3e44;
  }
}

.hero {
  padding: 0 0 70px;
  hgroup {
    padding: 91px 0 0;
    h1 {
      color: #fff;
      font-size: 46px;
      font-weight: 300;
      margin-bottom: 16px;
    }
    h2 {
      color: #fff;
      font-size: 26px;
      font-weight: 300;
      em {
        color: #c3c8d9;
        font-style: normal;
      }
    }
  }
}

.btn-hero {
  background: #00aede image-url('btn-arrow.png') no-repeat 234px 50%;
  border: 0;
  color: #fff;
  display: block;
  font-size: 26px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  margin: 38px auto 0;
  padding: 0;
  text-align: center;
  text-indent: -20px;
  text-shadow: none;
  vertical-align: middle;
  width: 280px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-clip: padding-box;
  &:hover {
    background: #01c8ff image-url('btn-arrow.png') no-repeat 234px 50%;
    color: #fff;
  }
  &:active {
    background: #0093bc image-url('btn-arrow.png') no-repeat 234px 50%;
    color: #fff;
  }
}

.sec-hero {
  color: #c3c8d9;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  @include box_sizing;
}

input {
  height: auto;
}

/*
input {
  height: auto !important;
}
*/

.error_explanation {
  color: #f00;
  border: 1px solid #f00;
  margin-bottom: 5px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
  h2 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* miscellaneous */

.back_to_home {
  margin-top: 25px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
