// Place all the styles related to the Dialogues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#supplier_matrix {
	td {
		border: 2px solid #000;
	}
	label {
		padding: 5px;
	}
}

.tag_matrix {
	td p {
		padding: 0px;
		margin: 0px;

	}
}