// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#deadline_month {
	width: 20%;
}

#deadline_day {
	width: 15%;
}

#deadline_year {
	width: 20%;
}