// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-sharer {
	background-color: #9cf;
	padding-top: 5px;

	#email-solicitation {
		padding-left: 10px;
	}

	#email-submit-button {
		width: 25%;
		float: right;
		margin-right: 10px;
		height: 40px;
		vertical-align: center;
		border: none;
	}

	#email-submit-field {
		width: 70%;
		clear: both;
		height: 40px;
	}
}

.supplier-text {
	width: 50%;
}

.margin-right {
	margin-right: 5%;
	padding-right: 5%;
}

.border-right {
	border-right: 5px solid #ccc;
}

.order_top_header {
	line-height: 1em;
	margin-bottom: 10px;
}

#create_button {
	margin-top: 5px;
}

#quantity_field {
	width: 3 0%;
}

#missing_supplier {
	text-align: center;
}

#direct-upload-success, #direct-upload-failure {
  display: none;
  font-weight: bold;
  font-size: 24px;
  padding-top: 5px;
}

#new-order-errors {
  display: none;
}

/* deadlines */

#deadline_month {
	width: 20%;
}

#deadline_day {
	width: 15%;
}

#deadline_year {
	width: 20%;
}

/* suppliers */

.new_supplier_listing {
	border: 2px solid #bbb;
	border-radius: 5px;
	margin: 3px 0px;
	padding: 0px 3px;
}

.new_supplier_checkbox {
	float: left;
	font-size: 30px;
}

.new_supplier_label {
	float: left;
	margin-left: 5px;
	font-size: 1.3em;
	vertical-align: center;
}

.new_supplier_website {
	vertical-align: center;
	margin-left: 10px;
	float: right;
	line-height: 1.3em;
}

.new_supplier_blurb {
	line-height: 1.3em;
	clear: both;
}

input.order_no_top_margin{
 	margin-top: 0px;
}

#index_quantity {
	float: left;
	margin-right: 20px;
}
