<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <div class="col-md-4">
        <p><%= link_to "Back to search page", teams_index_path %></p>
      </div>
      <%= render :partial => "providers/table", locals: {providers: @providers, include_tag_column: false, show_table: "providers_list"} %>
    </div>
  </div>
</div>
