<div class="container hax-body-styling">
  <div class="row">
    <%= render partial: "organizations/navigation_header", locals: {middle_text: @middle_text} %>
    <%= render partial: "providers/tags_table", locals: {tag_details: @tag_details, include_tag_column: false, cache_result: true} %>
  </div>
</div>