<% provide(:title,"Edit machine") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<h3>Edit machine</h3>

			<%= form_tag machine_path(@machine.id), method: :patch do %>

				<%= render partial: 'machines/machine_form_content', locals: {machine: @machine, manufacturer: @manufacturer} %>

			<% end %>

			<h3>All existing machines</h3>

			<%= render :partial => 'analytics/machines_table', locals: {machines: @machines} %>

		</div>
	</div>
</div>