<% provide(:title, "Supplier Examination") %>

<div class="content">
  <div class="container row">
		<%= form_tag :action => 'submit_examinations', :controller => 'examinations' do %>

			<table class="examinations-holder">
				<% @questionables.each do |supplier| %>
					<tr class="examination">
						<%= render partial: "examinations/supplier_examination", locals: {supplier: supplier} %>
					</tr>
				<% end %>
				<tr><td><%= submit_tag "Submit examinations", :disable_with => "Saving..." %></td></tr>
			</table>
			<p>Note: more than one user submitting this screen at a time will cause problems.</p>
		<% end %>
	</div>
</div>