<% provide(:title, "Admin edit of #{@supplier.name}") %>

<div class="container">
	<div class="span10 offset1">

		<%= render :partial => "suppliers/supplier_information", locals: {form_action: "admin_update"} %>

	</div>
</div>