<% provide(:title, "Admin edit of #{@supplier.name}") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<h2 class="center dark">
				<%= "#{@supplier.name} - admin_edit" %>
			</h2>

			<%= render :partial => "communications/new_communication", locals: {supplier_id: @supplier.id, user_id: current_user.id} %>
			<%= render :partial => "communications/display_communications", locals: {communications: @communications} %>	
			<%= render :partial => "suppliers/supplier_information", locals: {form_action: "admin_update"} %>

		</div>
	</div>
</div>