<% provide(:title,"Supplier Profiles") %>

<div class="content order">
	<div class="container row supplier-list">
		<p id="supplier-list-intro">Supplier profiles are still being developed - this page will be an index once the profiles are released. We have 250+ suppliers catalogued, representing 20+ countries.<br>Are we missing a supplier that you know about? Please <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>
	</div>
</div>