<% provide(:title,"Supplier Profiles") %>

<div class="content order">
	<div class="container row supplier-list">
		<p id="supplier-list-intro">Supplier profiles are still being developed - this is a small sample for testing. We have 250+ suppliers catalogued, representing 20+ countries.</p>

		<% @visibles.keys.sort.each do |country| %>
			<h3 class="supplier-list-country"><%= "#{country}" %></h3>
			<% @visibles[country].keys.sort.each do |state| %>
				<h4 class="supplier-list-state"><%= "#{state}" unless state == "no_state" %></h4>
				<table>
					<% columns = 3 %>
					<% counter = 0 %>
					<ul class="supplier-list-bullets">
						<tr>
							<% @visibles[country][state].each do |s| %>
								<% if counter >= columns %>
									</tr><tr>
									<% counter = 0 %>
								<% else %>
									<td><li><%= link_to s.name, "/suppliers/#{s.name_for_link}" %></li></td>
									<% counter += 1 %>
								<% end %>
							<% end %>
							<% while !(counter >= columns) %>
								<td></td>
								<% counter += 1 %>
							<% end %>
						</tr>
					</ul>
				</table>
			<% end %> 
		<% end %>
	</div>
</div>