<% provide(:title,"New Supplier") %>

<div class="container">
	<div class="span10 offset1">

		<%= render :partial => "suppliers/supplier_information", locals: {form_action: "create"} %>

	</div>
</div>