<% provide(:title, "Supplier Directory > #{@country.long_name}") %>
<% meta_description "600+ catalogued 3D printing suppliers with descriptions, machines, and reviews" %>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<h4><p>
				<%= link_to "Supplier Directory", suppliers_path %>
				>
				<bold><%= @country.long_name %></bold>
			</p></h4>

			<ul>
				<% @states_array.each do |state_link| %>
			    <li>
					<%= link_to state_link[0], state_link[1] %>
			    </li>
				<% end %>
			</ul>

		</div>
	</div>
</div>
