.home .navbar {
  display: none;
}

.hero {
  @include media($tablet) {
    display: table;
    width: 100%;
  }

  h2, p, a {
    color: $white;
  }
}

.hero-branding,
.hero-cta {
  @include media($tablet) {
    display: table-cell;
    height: 330px;
  }
}

.hero-branding {
  background-color: $sb-blue;
  padding: 0 20px 40px 20px;

  @include media($tablet) {
    width: 33.333%;
    padding: 40px 40px 80px 40px;
  }

  .logo {
    margin: 0 -41px 0 -31px;
    max-width: 400px;
    padding: 20px 0;
  }
}

.hero-headline {
  font-size: em(36);
  line-height: 1.2;
  margin: 0;
  padding-bottom: 40px;

  @include media($tablet) {
    font-size: em(54);
  }
}

.hero-cta {
  background: image_url('home-hero.jpg');
  background-size: cover;
  padding: 80px 20px;

  @include media($tablet) {
    width: 66.666%;
    padding: 0 40px 0 80px;
  }
}

.hero-subheadline {
  font-size: em(20);
  height: 195px;
  line-height: em(32, 20);
  margin: 0;

  @include media($tablet) {
    line-height: em(36, 20);

    span {
      display: block;
      position: relative;
      top: 110px;
    }
  }
  @include media(new-breakpoint(min-width 1100px) and new-breakpoint(max-width 1280px)) {
    span {
      top: 70px;
    }
  }
  .button--white {
    font-family: $sans-serif;
    font-size: em(16, 20px);
    margin-top: 15px;
  }
}

.matching {
  background-image: image_url('matching-background.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
}

.start-quote {
  text-align: center;

  p {
    color: #656668;
    font-size: em(24);
    line-height: em(44, 24);
    margin: 0 auto;
    max-width: 1024px;
    padding: 40px 0;

    @include media($tablet) {
      font-size: em(36);
    }
  }

  .button--blue {
    margin: 0 auto;
  }

  .select-one + .chosen-container {
    min-width: 280px;
  }

  .select-two + .chosen-container {
    min-width: 220px;
  }

  .chosen-container {
    min-width: 260px;

    .chosen-single {
      background: $light-gray;
      border: none;
      border-bottom: 1px solid $dark-gray;
      border-radius: 0;
      box-shadow: none;
      font-size: em(24);
      line-height: em(44, 24);
      min-height: 50px;
      top: -12px;

      span {
        background: image_url('arrow-down@2x.png') no-repeat right center;
        color: $orange;

        background-size: 20px 11px;
      }

      @include media($tablet) {
        font-size: em(36);
      }
    }
    .chosen-results li {
      font-size: 20px;
      line-height: em(44, 20);

      @include media($tablet) {
        font-size: em(24px);
      }
    }
    &.chosen-with-drop .chosen-drop {
      border: 1px solid $dark-gray;
      border-top: 0;
      border-radius: 0;
      box-shadow: none;
      margin-top: -12px;

      .chosen-results {
        margin: 0;
        padding: 0;

        .highlighted {
          background: $sb-blue;
        }
      }
    }
  }
}

.home .triplets {
  padding: 80px 0 0;
  text-align: center;

  .col img {
    margin: 0 auto;
    max-width: 25%;
  }

  .wide img {
    margin: 0 auto;
    max-width: 57%;
  }

  h3 span {
    @include media($tablet) {
      display: block;
    }
  }
}

.big-quote {
  color: lighten($dark-gray, 4%);
  font-family: $serif;
  font-size: em(15);
  line-height: em(32, 17);

  footer {
    color: $orange;
    padding-top: 20px;

    cite {
      font-style: normal;
      font-size: em(12, 15);
    }

    a {
      color: $orange;
      text-decoration: underline;
    }
  }

  @include media($tablet) {
    font-size: em(22);
    line-height: em(48, 20);
  }

  & + .button--blue {
    margin: 0 auto;

    @include media(new-breakpoint(max-width 768px)) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.customer-logos {
  padding: 80px 80px 0;

  img {
    max-width: 100%;
  }
}


/*  ################################################################
  1. GENERAL STRUCTURES
################################################################# */

.homepage {

  & h1, h2, h3, h4, h5, h6 {    
  font-weight: 300;
  }

  & a { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #14b8e2;
  }
  & a:hover,
  & a:focus {
    text-decoration: none;
    color:#696E74;
  }
}

html,
body {
  height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.ptb {padding-top: 30px; padding-bottom: 10px;}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}
::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}

/* FORM CONFIGURATION */

.subscribe-input {
    font-size: 16px;
    line-height: 20px;

    float: left;

    width: 65%;
    min-height: 40px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding: 15px 30px 16px;

    -webkit-transition: background-color .2s;
            transition: background-color .2s;
    text-align: left;

    opacity: .9;
    color: black;
    border: 1px solid #b9b9af;
    border-radius: 25px;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
  .subscribe-input {
    width: 100%;
  }
}

.subscribe-submit {
  right: 0;
}

/*Buttons Configuration */
.btn-conf {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 18px 28px 18px 28px;
  border: none;
  }

.btn-sbblue {
  background: #14b8e2;
  border-color: #14b8e2;
}

.btn-sbblue:hover {
  background: #12a5cb;
  border-color: #12a5cb;
}

.mtb button:hover{
  color:black;
}

/* HEADER SECTION */
#h {
  background: url(/assets/header_image-homepage-60-tiny.jpg) center top no-repeat;
  padding-top: 0;
  text-align:center;
  background-attachment: relative;
  background-position: center center;  
  width: 100%;
  color: white;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
  top: 30px;
  left: 45px;
  font-size: 18px;
  font-weight: 900;
  position:absolute; 
}

#h h1 {
  font-weight: 500;
  color: white;
  font-size: 60px;
}

#h h2 {
  color: white;
  padding-top: 0;
  font-size: 30px;
}

#h h3 {
  color: white;
  padding-top: 0;
  /*font-size: 30px;*/
}

#h  h4 {
  color: white;
  padding-top: 40px;
}

.ptb h2 {
  font-weight: 400;
}

#g {
  background-color: #f2f2f2;
}

/* FOOTER */
#f {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f2f2f;
  color: white;
}

#f h2 {
  color: white;
  padding-top: 0;
  font-size: 30px;
}

#f h3, h4 {
  color: white;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin: 10px 0;
}

.featurette-body {
  margin-top: 35px;
  margin-bottom: 35px;
}

/*BEGIN LANDING PAGE*/
.redacted {
  color: transparent;
  text-shadow: 0 0 12px rgba(0,0,0,0.5);
}

.header-logo {
  max-width: 90em;
  padding: 0 20px;
}

.blur { 
  width:84px; 
  height:84px; 
  -webkit-filter: blur(6px); 
  filter: blur(6px); 
}

.headshot1 {
  background-image: url("/assets/headshot1-thumb-tiny.jpg");
  background-repeat: no-repeat;
  height: 84px;
  width: 84px;
  margin: 0;
  padding: 0;
}

#i {
  background-color :#12a5cb;
}

#i h2, #i h3{
  color: white;
}

.mtb input:focus {
  outline: none;
}

.comment-border {
  padding: 15px;
  border: solid 1px;
  border-radius: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {

  #h h1 {
    font-size: 40px;
    padding-top: 40px;
  }

  #h h2 {
    font-size: 25px;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 10px;
  }
}

.homepage-header {
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}