/*************** ALL HAX RELATED STUFF IS HERE *****************/

/*I don't know why, but for some reason the rating system styling needs to be above the bootstrap css*/

/*SUPER GENERAL*/

.center {
  text-align: center;
}

/*RATING SYSTEM 
http://rog.ie/blog/css-star-rater*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px; /*75 15 in rob design */
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  padding: 20px;
  display: block;
}

/* TERRIBLE NOT DRY WAY TO RENDER */

/* for some reason, this setup (same code as above, 
different class names, opacities to 1) works OK.
for each <i></i> in the html, another star renders. i don't
know why or how. it makes me sad. 

finally, this lags hard when you have to render it a lot of times.
not an issue till we get a bunch of reviews, but it'll need
replacement -mdp */

.star-display {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-display i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-display input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 1;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-display input:hover + i,
.star-display input:checked + i {
  opacity: 1;
}
.star-display i ~ i {
  width: 40%;
}
.star-display i ~ i ~ i {
  width: 60%;
}
.star-display i ~ i ~ i ~ i {
  width: 80%;
}
.star-display i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  padding: 20px;
  display: block;
}

/*COMMENTS*/

.avatar-profile {
  /*background-image: url("https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/avatar+copy-small.gif");*/
  background-image: url("/assets/avatar copy-small.gif");
  background-repeat: no-repeat;
  height: 84px;
  width: 84px;
  margin: 0;
  padding: 0;
}

.comment p {
  margin-top: 0px;
}

.comment-snippet {
  margin-bottom: 0px;
  font-style: italic;
}

.comment-smalltext {
  margin-top: 0px;
  font-size: 15px;
}

.comment-profile p {
  margin-bottom: 0px;
}

.comment-rating-stars {
  width: 75px;
  height: 15px;
}

/*PROVIDER EDIT PAGE*/
.provider-edit-details {
  float: right;
}

.provider-edit-input input, textarea {
  width: 100%;
}

.provider-tags ul {
  padding-left: 0px;
}

/*NON-BOOTSTRAP STUFF HERE*/

.heading_navigation{
  font-size: small;
  font-weight: normal;
}

.hax-body-styling {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

/*begin list styling*/
.hax-body-styling ul {
  list-style:none;
  margin-top: 0px;
}

/*start provider table styling*/
/*this table is not my own. I ripped it from here: http://cssmenumaker.com/blog/stylish-css-tables-tutorial*/
.stylish table { 
color: #333;
/*font-family: Helvetica, Arial, sans-serif;*/
width: 100%; 
border-collapse: 
collapse; border-spacing: 0; 
}

.stylish td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

.stylish th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
text-align: center;
}

.stylish td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
.stylish tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
.stylish tr:nth-child(odd) td { background: #FEFEFE; }  

.stylish tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
/*end table styling*/

.stylish th:first-child, td:first-child {
  width: 35%;
}

.stylish th:nth-child(2) , td:nth-child(2) {
  width: 20%;
}

.stylish th:nth-child(3) , td:nth-child(3) {
  width: 15%;
}

.stylish th:nth-child(4) , td:nth-child(4) {
  width: 15%;
}

.stylish th:nth-child(5) , td:nth-child(5) {
  width: 15%;
}

#keyword-list {
    -moz-columns: 5;
    -webkit-columns: 5;
    columns: 5;
}

.text-block {
  background: #f6f5f2;
  width: 100%;
  padding-top: 10px;
  /*padding-bottom: 10px; */
}

/*provider profile specific css*/

.profile-spacing {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 10px;
}

.verified {
  color: #4EF579;
  font-size: 32px;
}

.hax-body-styling .profile-heading h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*styling for suggested edits page*/
img.banner-message {
  vertical-align: middle;
}

/*photo gallery styling starts here 
http://fearlessflyer.com/create-a-responsive-photo-gallery-with-bootstrap-framework/*/

div.photo-gallery {
  padding-left: 0px;
}

ul.photo-gallery {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul.photo-gallery li {     
    list-style:none;
    padding:0 1px 0 0;         
}
ul.photo-gallery li img {
    cursor: pointer;
    width: 100%;
}
ul.photo-gallery li:first-child img{
    width:100%;
}
.controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}

/*INDEX TAG SEARCH*/
.header-text-block {
  text-align: center;
}

.bottom-search-area {
  background: rgba(0,0,0,0.6);
  width: 100%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.index-search-bar {
  padding-right: 0px;
}

div.chosen-container-multi {
  width: 100% !important;
}

.index-search-button {
  padding-left: 0px;
}

#index_search_button {
    background: #3cb878;
    border: 2px solid #31a76a;
    border-radius: 2px;
    color: white;
    height: 44px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

li.search-field input {
  height: 2em !important;
  font-size: 20px !important;
}

.comment-title input {
  width: 100%;
}

/*provider profile lists*/

li p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*provider profile tag styling*/
.tags-providerTags>a {
    font-size: 13px; /*this font size isn't consistent with the rest of the Providers profile page by certainly makes the tags present in a cleaner, more compact form*/
    line-height: 22px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.74);
    background: rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    /*margin-right: 8px;*/ /*spacing looks a little off compared to top/bottom spacing, but make the tag presentation much more compact*/
    margin-bottom: 8px;
}
.tags-providerTags>a:last-child {
    margin-right: 0;
}
.tags-providerTags>a:hover, .tags-providerTags>a:focus {
    color: #468c54;
    border-color: #a9d8b2;
    background: rgba(87, 173, 104, 0.1);
}


/*There's a special place in hell for designers who attempt this*/
li.search-choice {
   font-size: 13px !important; 
    line-height: 22px !important;
    display: inline-block !important;
    color: rgba(0, 0, 0, 0.74) !important;
    background: rgba(0, 0, 0, 0.02) !important;
    border-radius: 2px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 3px 20px 3px 10px !important;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

a.search-choice-close {
  top: 9px !important;

}
