<h3>Internal analytics links</h3>
<ul>
	<li><%= link_to "Home (stub)" , analytics_home_path %></li>
	<li><%= link_to "RFQs (stub)" , analytics_rfqs_path %></li>
	<li><%= link_to "Suppliers (stub)" , analytics_suppliers_path %></li>
	<li><%= link_to "Emails (stub)" , analytics_emails_path %></li>
</ul>