<div class="updates">
  <h3 class="sign-up">Not ready for a quote? <em>Sign up for updates.</em></h3>
  <div class="center">
    <%= text_field_tag 'email_field', nil, :placeholder => "example@domain.com", class: "col-sm-4 col-sm-offset-2", :id => "email-submit-field" %>
    <%= submit_tag "Stay Updated", :disable_with => "Submitting", class: "col-sm-4", :id => "email-submit-button" %>
  </div>
  <p class="clear" id="referral">And check out <%= link_to "3D Printing Price Check", "http://www.3dprintingpricecheck.com/?utm_source=supplybetter", :class => "referral-link" %> to help approximate cost.</p>
</div>