    <% flash.each do |key, value| %>
      <div>
        <p class="alert-<%= key == :notice ? "success" : "danger" %> flash-message"> 
          <%= value %>
          <a class="close" data-dismiss="alert">&#215;</a>
        </p>
      </div>
    <% end %>
