    <% flash.each do |key, value| %>
      <div>
        <p class="bg-<%= key == :notice ? "success" : "warning" %>"> 
          <%= value %>
          <a class="close" data-dismiss="alert">&#215;</a>
        </p>
      </div>
    <% end %>
