<footer class="footer content">
  <div class="container">
  	<ul class="pull-left nav">
  		<li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Blog", "http://www.supplybetter.com/blog" %></li>
  		<li><%= link_to "Getting started 3D printing", getting_started_path %></li>
  		<li><%= link_to "Material recommendations", materials_path %></li>
  	</ul>
  	<p class="pull-right nav">
  		&copy; 2013 SupplyBetter, Inc.
  	</p>
  </div>
</footer>