<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>     
    <meta property="og:title" content="<%= title %>"/>
    <title><%= @title %></title> 
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
    <div>
      <a href="www.supplybetter.com/testimonials" style="text-decoration:none;color:#333;" target="_blank">Testimonials</a> |
      <a style="text-decoration: none;color:#333" target="_blank" href="mailto:unsubscribe@supplybetter.com?body=I%20no%20longer%20wish%20to%20receive%20SupplyBetter%20emails.&amp;subject=Please%20unsubscribe%20me%20from%20future%20emails">Unsubscribe</a>
    </div>
    <div>
      <p>SupplyBetter, Inc.&nbsp;237 Kearny Street, #256, San Francisco, CA 94108</p>
    </div>
  </body>    
</html>
