<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>     
    <meta property="og:title" content="<%= @subject %>"/>
    <title><%= @subject %></title> 
  </head>
  <body>
    <%= yield %>
    <p>You are receiving this email because your email address was linked to <%= @supplier.name %> on SupplyBetter.com.</p>
    <p>SupplyBetter, Inc. - 1688 Sacramento Street, #302, San Francisco, CA 94109</p>
  </body>    
</html>
